@using AutoMart.DataAccess;
@{
    ViewData["Title"] = "AutoMart";
}

@section TopNavBar {
    <form class="form-inline">
        <select class="custom-select form-control-lg mr-sm-2" id="select-categoria">
            <option selected>Seleccione una categoria...</option>
            @foreach (Categoria c in ViewBag.categorias)
            {
                <option value="@c.IDCategoria">@c.Descripcion</option>
            }
            <option value="-1">Todos</option>
        </select>
        <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-lg btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
    </form>
}

<div id="template-card" style="display: none;">
    <div class="card">
        <img class="card-img-top" src="~/images/untitled.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">$</p>
        </div>
    </div>
</div>

<div id="template-card-blank" style="display: none;">
    <div class="card">
        <img class="card-img-top" src="" alt="">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
        </div>
    </div>
</div>
<div id="content-cards">
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="modal-detalle-producto" tabindex="-1" role="dialog" aria-labelledby="detalleProductoTitulo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleProductoTitulo">Detalle de producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="card-img-top" src="~/images/untitled.png" alt="Card image cap">
                        </div>
                        <div class="col-lg-8 producto-detalle">
                            <div class="row">
                                <div class="col-lg-4">
                                    Nombre:
                                </div>
                                <div class="col-lg-8">
                                    <label id="nombre"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    Descripción:
                                </div>
                                <div class="col-lg-8">
                                    <label id="descripcion"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    Precio:
                                </div>
                                <div class="col-lg-8">
                                    <label id="precio"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    Marca:
                                </div>
                                <div class="col-lg-8">
                                    <label id="marca"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    Modelo:
                                </div>
                                <div class="col-lg-8">
                                    <label id="modelo"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    Categoría:
                                </div>
                                <div class="col-lg-8">
                                    <label id="categoria"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    Año:
                                </div>
                                <div class="col-lg-8">
                                    <label id="anio"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Cantidad: </label>
                                    <input class="form-control" id="cantidad" aria-describedby="" value="1" type="number" placeholder="Cantidad" style="margin-left: 20px; width: 90px; display: inline !important;">
                                </div>
                                <div class="col-lg-6">
                                    <button id="agregar-producto" type="button" class="btn btn-success">+ Agregar al carrito</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#select-categoria').on('change', function () {
                var IdCategoria = $(this).val();
                $('#content-cards').html('');

                $.getJSON("/Home/ObtenerProductosPorCategoria?categoria=" + IdCategoria, function (data) {
                    var len = data.length;
                    var rows = Math.ceil(len / 5);
                    console.log("Productos por categoria ->", len, "filas ->", rows);

                    var t = 0;
                    for (var j = 0; j < len; j++) {
                        console.log(t, j);
                        var el = $('#template-card > .card').clone();

                        if (t === 0) {
                            var cardGroup = $('<div class="card-group"></div>');
                            $('#content-cards').append(cardGroup);
                        }

                        el.attr('IdProducto', data[j].idProducto);
                        el.attr('data', JSON.stringify(data[j]));
                        el.find('.card-title').append(data[j].nombre);
                        el.find('.card-text').append(data[j].precio);

                        cardGroup.append(el);

                        if (j === len - 1) {
                            console.log('j === len-1, t ->', t);
                            if (t <= 4) {
                                var restante = 4 - t;
                                console.log('t <= 4, r ->', restante);
                                for (var r = 0; r < restante; r++) {
                                    var elBlank = $('#template-card-blank > .card').clone();
                                    cardGroup.append(elBlank);
                                }
                            }
                        }

                        t++;

                        if (t >= 5) {
                            t = 0;
                        }
                    }

                    $('.card').on('click', function () {
                        var IdProducto = $(this).attr('IdProducto');
                        var data = JSON.parse($(this).attr('data'));

                        console.log(data);

                        console.log('card click ->', IdProducto);

                        var dlgProductoDetalle = $('#modal-detalle-producto');
                        dlgProductoDetalle.find('#nombre').text(data.nombre);
                        dlgProductoDetalle.find('#descripcion').text(data.descripcion);
                        dlgProductoDetalle.find('#precio').text('$ ' + data.precio);
                        dlgProductoDetalle.find('#marca').text(data.marca.descripcion);
                        dlgProductoDetalle.find('#modelo').text(data.modelo.descripcion);
                        dlgProductoDetalle.find('#categoria').text(data.categoria.descripcion);
                        dlgProductoDetalle.find('#anio').text(data.anio);
                        dlgProductoDetalle.find('#agregar-producto').attr('idProducto', IdProducto);

                        dlgProductoDetalle.modal('show');
                    });
                });
            });

            $('#agregar-producto').on('click', function () {
                var idProducto = $(this).attr('idProducto');

                ManejarProductos.agregar({id: idProducto, cantidad: 1});
            });
        });
    </script>
}